@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body { 
	font-family: "Muli", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	text-align: center;
}

